@font-face {
  font-family: "GmarketSans";
  font-display: fallback;

  src: url("./GmarketSans/GmarketSans.ttf") format("truetype"),
    url("./GmarketSans/GmarketSans.woff") format("woff"),
    url("./GmarketSans/GmarketSans.eot?iefix") format("embedded-opentype");

  font-weight: 400;
  font-style: normal;
}
