.Box {
  display: flex;
  justify-content: center;
  margin-top: 5px;
}
.header {
  height: 100px;
  background-color: #b8dff8;
  align-items: center;
  align-self: center;
  justify-content: center;
  display: flex;
  text-align: center;
  font-family: "GmarketSans";
  font-size: 26px;
}
.photo {
  height: 40vh;
  width: 20vw;
  display: flex;
  justify-self: start;
}
.introContainer {
  font-family: "GmarketSans";
  padding-left: 30px;
  float: right;
}
.infoHeader {
  font-size: 30px;
  background-color: #fff44f;
  width: fit-content;
}

.explainHeader {
  font-size: 17px;
  margin-bottom: 10px;
  letter-spacing: 2px;
  font-weight: bold;
}

.explain {
  font-size: 15px;
  margin-left: 43px;
  letter-spacing: 1px;
  line-height: 2;
  margin-bottom: 30px;
}

.aboutMeHeader {
  font-size: 30px;
  background-color: aquamarine;
}

.aboutMe {
  height: 40px;
  align-items: center;
  align-self: center;
  justify-content: center;
  display: flex;
  text-align: center;
  font-family: "GmarketSans";
  font-size: 20px;
  margin-bottom: 20px;
}

.aboutMeBox {
  align-items: center;
  align-self: center;
  justify-content: center;
  display: flex;
  text-align: center;
  padding: 0px 200px;
}

.items {
  display: flex;
  text-align: center;
  align-self: center;
  font-family: "GmarketSans";
}

.title {
  font-size: 20px;
  font-weight: bolder;
  margin-bottom: 10px;
}

.item {
  padding-bottom: 20px;
}

.text {
  margin-bottom: 10px;
}
.paper {
  background-color: #b8dff8 !important;
  padding-bottom: 3px !important;
}
