.container {
  /* margin-top: 30vh;
  justify-content: center;
  height: 500px;
  align-items: center;
  position: relative;
  transform: translate3d(-50%, -50%, 0); */
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100vw;
  height: 500px;
  transform: translate3d(-50%, -40%, 0);
}

.paper {
  padding: 15px;
  background-color: aquamarine !important;
}

.stackHeader {
  font-size: 40px;
  font-weight: bold;
  font-family: "GmarketSans";
  margin: 30px 0px;
  text-align: center;
}

.timeLineHeader {
  margin-top: 30px;
  font-size: 30px;
  font-weight: bold;
  font-family: "GmarketSans";
  margin: 30px 0px;
  text-align: center;
}

.stackName {
  font-size: 20px;
  font-weight: bold;
  font-family: "GmarketSans";
  margin-bottom: 30px;
  color: blue;
}
.stackContainer {
  display: flex;
  justify-content: center;
}
.stackText {
  font-family: "GmarketSans";
  font-size: 17px;
  margin-bottom: 20px;
}

.leftPaper {
  margin-left: 25%;
  font-family: "GmarketSans";
  text-align: left;
  padding: 20px;
  background-color: aquamarine !important;
  margin-bottom: 20px;
}
.projectName {
  font-size: 17px;
  font-weight: bold;
  margin-bottom: 20px;
}

.rightPaper {
  margin-right: 25%;
  font-family: "GmarketSans";
  text-align: left;
  padding: 20px;
  background-color: aquamarine !important;
}
