.container {
  margin-top: 20px;
  width: 90vw;
  height: 500px;
}

.paper {
  padding: 15px;
  background-color: aquamarine !important;
  width: 30vw;
  margin-bottom: 5vh;
  margin-top: 5vh;
}

.stackHeader {
  font-size: 40px;
  font-weight: bold;
  font-family: "GmarketSans";
  margin: 30px 0px;
  text-align: center;
}

.timeLineHeader {
  margin-top: 30px;
  font-size: 30px;
  font-weight: bold;
  font-family: "GmarketSans";
  margin: 30px 0px;
  text-align: center;
}

.stackName {
  font-size: 20px;
  font-weight: bold;
  font-family: "GmarketSans";
  margin-bottom: 30px;
  color: blue;
}
.stackContainer {
  display: flex;
  justify-content: center;
}
.stackText {
  font-family: "GmarketSans";
  font-size: 17px;
  margin-bottom: 20px;
}

.leftPaper {
  margin-left: 25%;
  font-family: "GmarketSans";
  text-align: left;
  padding: 20px;
  background-color: aquamarine !important;
  margin-bottom: 20px;
}
.projectName {
  font-size: 17px;
  font-weight: bold;
  margin-bottom: 20px;
}

.rightPaper {
  margin-right: 25%;
  font-family: "GmarketSans";
  text-align: left;
  padding: 20px;
  background-color: aquamarine !important;
}

.aboutMeHeader {
  font-size: 30px;
  background-color: aquamarine;
}

.aboutMe {
  height: 40px;
  align-items: center;
  align-self: center;
  justify-content: center;
  display: flex;
  text-align: center;
  font-family: "GmarketSans";
  font-size: 20px;
  margin-bottom: 20px;
}

.aboutMeBox {
  align-items: center;
  align-self: center;
  justify-content: center;
  display: flex;
  text-align: center;
  padding: 0px 10vw;
}

.items {
  display: flex;
  text-align: center;
  align-self: center;
  font-family: "GmarketSans";
}

.title {
  font-size: 20px;
  font-weight: bolder;
  margin-bottom: 10px;
}

.item {
  padding-bottom: 20px;
}

.text {
  margin-bottom: 10px;
}
.paper {
  background-color: #b8dff8 !important;
  padding-bottom: 3px !important;
}
